[Unit]
Description=Remote Intrusion Detection System daemon

[Service]
User=root
WorkingDirectory=/usr/local/sbin
ExecStart=/usr/local/sbin/detect.sh
Restart=always

[Install]
WantedBy=multi-user.target

