[Unit]
Description=Remote Intrusion Detection System daemon

[Service]
User=rids
WorkingDirectory=/usr/local/sbin
ExecStart="python3 -m rids --eventlog_path=/var/rids/events.log --config_path=/etc/rids/config.json"
Restart=always

[Install]
WantedBy=multi-user.target

